/*NavBar*/
.navcor{
    background-color: #000 !important;
}
.navbar-toggler-icon{
    color: white;
}
.logo{
    width: 150px;
    margin: 10px;
}
.dropdown-menu{
    background-color: #000;
}
.dropdown-item{
    color: #fff;
}
.dropdown-item:hover{
    background-color: red;
    color: #fff;
}
/*Posição das opções da NavBar*/
.mr-auto{
    margin-left: auto !important;
}
.mr-auto{
    margin-right: 20px !important;
}
/*Conteudo de venda*/
.imagem{
    width: 100%;
    margin-top: 10%;
}
.imagem:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.conteudo h3{
    margin-top: 10%;
}
.titulo{
    margin: 30px 0;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.cortepreco{
    text-decoration: line-through;
    font-style: italic;
    color: gray;
    font-size: 15px;
}
.preco{
    font-weight: 700;
    color: #333;
    font-size: 25px;
    line-height: 20px;
}
.txtporapenas{
    color: rgb(57, 219, 57);
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 0;
}
.txtdescricao{
    font-family: sans-serif;
}
.btn{
    width: 80%;
    padding: 12px;
    margin-left: 10%;
}
.tamanho{
    width: 80%;
    margin-left: 10%;
}
.tamanholetra{
    font-size: 15px;
    font-family: sans-serif;
    line-height: 17px;
}
.h1-titulo{
    margin: 30px 0;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}
@media (max-width: 992px){
    .btn{
        width: 100%;
        margin-left: 0;
    }
    .tamanho{
        width: 100%;
        margin-left: 0;
    }
    section{
        text-align: center;
    }
}
/*Rodapé*/
.rodape{
    width: 100%;
    padding: 50px;
    text-align: center;
    background-color: #000;
    margin-top: 5%;
}
.social-icons a{
    color: #000;
    margin-right: 3%;
}
.social-icons img{
    width: 45px;
}
.social-icons img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.copyright{
    margin-top: 2%;
    color:#fff;
    text-align: center;
}
.rodape hr{
    border-color: #fff;
}